<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>구름 과제 - 게시판 만들기</title>

    <style>
        .content-cell {
            width: 400px;
            word-wrap: break-word;
            white-space: normal;
        }
    </style>
</head>
<body>

<div>
    <p>글 번호</p>
    <span th:text="${board.id}"></span>
    <p>글 제목</p>
    <span th:text="${board.title}">글 제목</span>
</div>
<br><br>
<div>
    <textarea th:text="${board.content}" class="content-cell" readonly="true" cols="50" rows="20"
              style="resize: none;"></textarea>
</div>
<a th:href="@{/board/{id}/edit(id=${board.id})}">글 수정</a>
<button th:onclick="'deleteBoard(' + ${board.id} + ')'">글 삭제</button>

<form th:action="@{/board/{id}/addReply(id=${board.id})}" method="post">
    <textarea name="replyContent" placeholder="댓글을 입력하세요"></textarea>
    <button type="submit">댓글 작성</button>
</form>
<div>
    <ul>
        <li th:each="reply : ${board.replies}">
            <span th:text="${reply.reply}"></span>
            <button th:onclick="'deleteReply(' + ${reply.replyId} + ')'">댓글 삭제</button>
        </li>
    </ul>
</div>

<script>
    function deleteReply(replyId) {
        fetch('/reply/' + replyId + '/delete', {
            method: 'DELETE'
        }).then(response => {
            if (response.ok) {
                alert('댓글이 삭제되었습니다.');
                window.location.reload();
            } else {
                alert('삭제 실패');
            }
        });
    }


    function deleteBoard(boardId) {
        fetch('/board/' + boardId + '/delete', {
            method: 'DELETE'
        }).then(response => {
            if (response.ok) {
                alert('글이 삭제되었습니다.');
                window.location.href = '/board/list';
            } else {
                alert('삭제 실패');
            }
        });
    }
</script>
</body>
</html>